*{
    margin: 0;
    padding: 0;
    text-align: center;
}   

h1{
    background-color: #4C5C68;
    color: #DCDCDD;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display:block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
#users-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: #4C5C68;
    color: white;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
